.excercise {
  background-image: linear-gradient(45deg, #fc466b, #3f5efb);
  border: 1px solid;
  box-shadow: 0 0 8px 1px;
  width: 70%;
  margin: auto;
  padding: 20px 10px;
}
.excercise .form-control {
  box-shadow: inset 0 0 8px 0px;
  background: #f7e5e5;
  transition: all 0.5s;
}
.excercise .form-control:focus {
  border: none;
  box-shadow: inset 0 0 8px 0px;
}
.excercise .nav-tabs .nav-link.active {
  box-shadow: 0 0 3px 1px;
  background: yellow;
}
.excercise .nav-tabs .nav-link {
  box-shadow: 0 0 3px 1px;
  border: 1px solid;
  color: #000;
}
.result {
  min-height: 40px;
  background-color: #83d854;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 5px;
}
.excercise .btn {
  border-radius: 20px;
}
.excercise h3 {
  margin-bottom: 0;
}
